name: Arduino Lint

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
      - name: Lint code.
        uses: arduino/arduino-lint-action@v2
        with:
          compliance: specification
          project-type: sketch
          recursive: true